function createDefaultLegend(layers) {
  AsBridge.VL.Legends.layersLegend(
    '#basicLegend',
    layers.map(layer => ({
      layer: layer,
      props: {
        label: layer.id
      }
    }))
  )
}