function createDefaultLegend(layers) {
  const defaultLegendContainer = document.querySelector('#basicLegendContainer');
  defaultLegendContainer.style.display = 'none';

  AsBridge.VL.Legends.layersLegend(
    '#basicLegend',
    layers,
    {
      onLoad: () => defaultLegendContainer.style.display = 'unset'
    }
  )
}