# Python / Jupyter
*.pyc
.ipynb_checkpoints/
sandbox/

# Misc
creds.json
credentials.json
__pycache__
.*.sw[nop]
.vscode

# OS
.DS_Store

# Sphinx related
_build
.buildinfo
.doctrees/

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
/lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
Pipfile
Pipfile.lock

# Swap files
.*.sw[nop]

# project-specific
CARTOCREDS.json
SITEKEY.txt
secret.json
examples/scratch/*

# JavaScript 
node_modules

# Tests
.tox
.coverage
test_*.json
.pytest_cache

# Sphinx documentation
docs/build/
docs/_static/
docs/_templates/
