# Python / Jupyter
*.pyc
.ipynb_checkpoints/
sandbox/

# Misc
credentials.json

# OS
.DS_Store

# Sphinx related
_build
.buildinfo
.doctrees/

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Swap files
.*.sw[nop]

# project-specific
CARTOCREDS.json
SITEKEY.txt
test/secret.json
