[MESSAGES CONTROL]
max-line-length=120
disable=
    import-error,
    unresolved-import,
    global-statement,
    too-many-locals,
    too-many-arguments,
    too-few-public-methods,
    missing-class-docstring,
    missing-module-docstring,
    missing-function-docstring,
    useless-object-inheritance,
    no-self-use,
    fixme,
    redefined-builtin,
    protected-access