[MESSAGES CONTROL]
disable=
    line-too-long,
    unused-import,
    import-error,
    unresolved-import,
    import-outside-toplevel,
    global-statement,
    too-many-branches,
    too-many-locals,
    too-many-arguments,
    too-many-ancestors,
    too-many-return-statements,
    too-many-public-methods,
    too-few-public-methods,
    too-many-instance-attributes,
    too-many-statements,
    missing-class-docstring,
    missing-module-docstring,
    missing-function-docstring,
    useless-object-inheritance,
    no-self-use,
    fixme,
    redefined-builtin,
    protected-access,
    attribute-defined-outside-init,
    no-else-return,
    dangerous-default-value,
    duplicate-code,
    deprecated-method,
    arguments-differ,
    signature-differs,
    unused-argument,
    invalid-name,
    super-init-not-called,
    pointless-string-statement,
    broad-except,
    abstract-method,
    useless-super-delegation,
    cyclic-import,
    missing-docstring,
    len-as-condition,
    old-style-class,
    superfluous-parens,
    wrong-import-order,
