# documentation requirements
carto>=1.1.0
pandas>=0.19.2
webcolors==1.7
tqdm>=4.14.0
IPython>=5.0.0,<6.0.0;python_version<="2.7"
IPython>=6.0.0;python_version>="3.0"
sphinx>=1.6.5
sphinxcontrib-napoleon>=0.6.1
appdirs>=1.4.3