{% include 'error/parser.js.j2' %}
{% include 'utils/base64.js.j2' %}

const responsive = document.querySelector('as-responsive-content');

function onReady() {
  const BASEMAPS = {
    DarkMatter: carto.basemaps.darkmatter,
    Voyager: carto.basemaps.voyager,
    Positron: carto.basemaps.positron
  };

  if ("{{mapboxtoken}}") {
    mapboxgl.accessToken = "{{mapboxtoken}}";
  }
  // Fetch CARTO basemap if it's there, else try to use other supplied style
  const map = new mapboxgl.Map({
    container: 'map',
    style: BASEMAPS['{{basemap}}'] || '{{basemap}}' || {
        'version': 8,
        'sources': {},
        'layers': [{
            'id': 'background',
            'type': 'background',
            'paint': {
                'background-color': '{{basecolor}}'
            }
        }]
    },
    zoom: 9,
    dragRotate: false
  });

  const sources = {{sources|tojson}};

  map.fitBounds({{bounds}}, {animate: false, padding: 50, maxZoom: 14});

  {% if camera != none %}
    map.flyTo({{ camera|clear_none|tojson }});
  {% endif %}

  sources.forEach((elem, idx) => {
    const factory = new SourceFactory();
    const source = factory.createSource(elem);
    const viz = new carto.Viz(elem['viz']);
    const layer = new carto.Layer(`layer${idx}`, source, viz);

    try {
      layer._updateLayer.catch(displayError);
    } catch (err) {
      throw err;
    }

    layer.addTo(map);

    if (elem.interactivity) {
      const interactivity = new carto.Interactivity(layer);
      const tempPopup = new mapboxgl.Popup({
        closeButton: false,
        closeOnClick: false
      });

      interactivity.off('featureHover');
      interactivity.off('featureClick');

      for (const { event, values } of elem.interactivity) {
        if (event === 'click') {
          setPopupsClick(tempPopup, interactivity, values);
        }
        if (event === 'hover') {
          setPopupsHover(tempPopup, interactivity, values);
        }
      }
    }

    function setPopupsClick(tempPopup, interactivity, values) {
      interactivity.on('featureClick', (event) => {
          updatePopup(tempPopup, event, values)
      });
    }
    
    function setPopupsHover(tempPopup, interactivity, values) {
      interactivity.on('featureHover', (event) => {
          updatePopup(tempPopup, event, values)
      });
    }

    function updatePopup(layer_popup, event, values) {
      if (event.features.length > 0) {
        const feature = event.features[0];

        let popupHTML = '';
        
        values.forEach((item) => {
          let value = feature.variables[item.name].value;
          if (typeof value === 'number') {
            if (Math.abs(value) > 1000) {
              value = value.toExponential(2);
            } else if (!Number.isInteger(value)) {
              value = value.toFixed(2);
            }
          }
          popupHTML += `
            <span class="popup-name">${item.label || item.value}</span>
            <span class="popup-value">${value}</span>
          `;
        });
        
        layer_popup
            .setLngLat([event.coordinates.lng, event.coordinates.lat])
            .setHTML(`<div class="popup-content">${popupHTML}</div>`);
        
        if (!layer_popup.isOpen()) {
          layer_popup.addTo(map);
        }
      } else {
        layer_popup.remove();
      }
    }

    function SourceFactory() {
      const sourceTypes = {
        GeoJSON: (elem) => new carto.source.GeoJSON(_decodeJSONQuery(elem.query)),
        Query: (elem) => {
          const auth = {
            username: elem.credentials['username'],
            apiKey: elem.credentials['api_key'] || 'default_public'
          };
          const config = {
            serverURL: elem.credentials['base_url'] || `https://${elem.credentials['username']}.carto.com/`
          };
          return new carto.source.SQL(elem.query, auth, config)
        },
        MVT: (elem) => new carto.source.MVT(elem.query.file, JSON.parse(elem.query.metadata)),
      }

      this.createSource = (elem) => {
        return sourceTypes[elem.type](elem);
      }
    }
  });
}

function setReady () {
  try {
    onReady()
  } catch (e) {
    displayError(e);
  }
}

function displayError(e) {
  const error$ = document.getElementById('error-container');
  const errors$ = error$.getElementsByClassName('errors');
  const stacktrace$ = document.getElementById('error-stacktrace');

  errors$[0].innerHTML = e.name;
  errors$[1].innerHTML = e.name;
  errors$[2].innerHTML = e.type;
  errors$[3].innerHTML = e.message.replace(e.type, '');

  error$.style.visibility = 'visible';

  const stack = parse(e.stack);
  const list = stack.map(item => {
    return `<li>
      at <span class="stacktrace-method">${item.methodName}:</span>
      (${item.file}:${item.lineNumber}:${item.column})
    </li>`;
  });

  stacktrace$.innerHTML = list.join('\n');
}

function _decodeJSONQuery(query) {
  return JSON.parse(Base64.decode(query.replace(/b\'/, '\'')))
}

responsive.addEventListener('ready', setReady);