document
  .querySelector('as-responsive-content')
  .addEventListener('ready', () => {
    const basecolor = '{{basecolor}}';
    const basemap = '{{basemap}}';
    const bounds = {{ bounds }};
    const camera = {{ camera|tojson }};
    const has_legends = '{{has_legends}}' === 'True';
    const is_static = '{{is_static}}' === 'True';
    const layer_selector = '{{layer_selector}}' === 'True';
    const layers = {{ layers|tojson }};
    const mapboxtoken = '{{mapboxtoken}}';
    const show_info = '{{show_info}}' === 'True';

    init({
      basecolor,
      basemap,
      bounds,
      camera,
      has_legends,
      is_static,
      layer_selector,
      layers,
      mapboxtoken,
      show_info
    });
});