document
  .querySelector('as-responsive-content')
  .addEventListener('ready', () => {
    const show_info = '{{show_info}}' === 'True';
    const maps = {{ maps|tojson }};
    const bounds = {{ bounds }};

    init({
      show_info,
      maps,
      bounds
    });
});