const maps = {{ maps|tojson }};
const show_info = '{{show_info}}' === 'True';
const is_static = '{{is_static}}' === 'True';

maps.forEach((map) => {
  map.has_legends = false;
  map.layer_selector = false;
});

init({
  show_info,
  is_static,
  maps
});