<style>
  :root {
    /* Theme Colors */

    /* Brand */
    --as--color--primary: #17B0FF;
    --as--color--secondary: #212129;
    --as--color--complementary--hover: #E200E2;
    --as--color--complementary--active: #E200E2;

    /* "Type Colors" from lighter to darker */
    --as--color--type-01: #EDF2F7;
    --as--color--type-02: #DBE6F0;
    --as--color--type-03: #C9D9E8;
    --as--color--type-04: #B8CCE0;

    /* "UI Colors" from darker to lighter */
    --as--color--ui-01: #242935;
    --as--color--ui-02: #3D3E51;
    --as--color--ui-03: #40445A;
    --as--color--ui-04: #4C5265;

    /* Badges */
    --as--color--badge-gray: #4C5265;
    --as--color--badge-blue: #3F6892;
    --as--color--badge-green: #3F9269;
    --as--color--badge-pink: #923F68;
    --as--color--badge-yellow: #92693F;

    /* Support colors */
    --as--color--error: #E200E2;
    --as--color--error-alpha: rgba(226, 0, 226, 0.349);
    --as--color--warning: #FFD20A;
    --as--color--success: #17FF66;

    /* Text colors */
    --as--color--text: #FFF;
    --as--color--text-contrast: #000;
    --as--color--shadow: #000;
  }

  .mapboxgl-popup-content {
    background: var(--as--color--secondary);
  }

  .mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
  .mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip,
  .mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip {
    border-top-color: var(--as--color--secondary);
  }

  .mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
  .mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip,
  .mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip {
    border-bottom-color: var(--as--color--secondary);
  }

  .mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
    border-right-color: var(--as--color--secondary);
  }

  .mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
    border-left-color: var(--as--color--secondary);
  }
</style>