<style>
  body {
    margin: 0;
    padding: 0;
  }

  aside.as-sidebar {
    min-width: 300px;
  }

  .map-image {
    display: none;
    max-width: 100%;
    height: auto;
  }

  as-layer-selector-slot .as-layer-selector-slot--wrapper .as-caption { // FIXME
    font-size: 14px;
    line-height: 14px;
  }
</style>