{% extends "iframe.html.j2" %}
{% block srcDoc %}
  <!DOCTYPE html>
  <html lang="en">
  <head>
    <title>CARTO VL + CARTOframes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <!-- Include CARTO VL JS -->
    <script src="{{carto_vl_path}}"></script>
    <!-- Include Mapbox GL JS -->
    <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.js"></script>
    <!-- Include Mapbox GL CSS -->
    <link href="https://api.tiles.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.css" rel="stylesheet" />

    <!-- Include Airship -->
    <script src="{{airship_components_path}}"></script>
    <script src="{{airship_bridge_path}}"></script>
    <link href="{{airship_styles_path}}" rel="stylesheet">
    <link href="{{airship_icons_path}}" rel="stylesheet">

    <style>
      body {
        margin: 0;
        padding: 0;
      }

      #map {
        position: absolute;
        height: 100%;
        width: 100%;
      }

      #error-container {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: white;
        visibility: hidden;
        padding: 1em;
        font-family: "Courier New", Courier, monospace;
        margin: 0 auto;
        font-size: 14px;
        overflow: auto;
        z-index: 1000;
      }

      .error-section {
        padding: 1em;
        border-radius: 5px;
        background-color: #fee;
      }

      #error-container #error-highlight {
        font-weight: bold;
        color: inherit;
      }

      #error-container #error-type {
        color: #008000;
      }

      #error-container #error-name {
        color: #ba2121;
      }

      #error-container #error-content {
        margin-top: 0.4em;
      }

      .error-details {
        margin-top: 1em;
      }

      #error-stacktrace {
        list-style: none;
      }

      .popup-content {
        display: flex;
        flex-direction: column;
        padding: 8px;
      }

      .popup-name {
        font-size: 12px;
        font-weight: 400;
        line-height: 20px;
        margin-bottom: 4px;
      }

      .popup-value {
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
      }

      .popup-value:not(:last-of-type) {
        margin-bottom: 16px;
      }

      .map-info {
        position: absolute;
        bottom: 0;
        padding: 0 5px;
        background-color: rgba(255, 255, 255, 0.5);
        margin: 0;
        color: rgba(0, 0, 0, 0.75);
        font-size: 12px;
        width: auto;
        height: 18px;
        font-family: 'Open Sans';
      }

      as-widget-header .as-widget-header__header {
        margin-bottom: 8px;
      }

      as-widget-header .as-widget-header__subheader {
        margin-bottom: 12px;
      }
    </style>
  </head>

  <body class="as-app-body as-app">
    <as-responsive-content>
      <main class="as-main">
        <div class="as-map-area">
          <div id="map"></div>
          {% if show_info %}
            {% include 'viz/info.html.j2' %}
          {% endif %}
          <div class="as-map-panels">
            <div class="as-panel as-panel--left as-panel--top">
              {% if has_legends %}
                {% include 'viz/legends.html.j2' %}
              {% endif %}
            </div> <!-- as-panel -->
          </div> <!-- as-map-panels -->
        </div> <!-- as-map-area -->
      </main> <!-- as-main -->
    </as-responsive-content>

    {% include 'error/basic.html.j2' %}

    <script>
      {% include 'viz/map.js.j2' %}
    </script>
  </body>
  </html>
{% endblock %}
