function createDefaultLegend(layers) {
  const defaultLegendContainer = document.querySelector('#basicLegendContainer');
  defaultLegendContainer.style.display = 'none';

  AsBridge.VL.Legends.layersLegend(
    '#basicLegend',
    layers,
    {
      onLoad: () => defaultLegendContainer.style.display = 'unset'
    }
  )
}

function createLegend(layer, legendData, layerIndex) {
  const element = document.querySelector(`#layer${layerIndex}_legend`);

  if (legendData.property) {
    const config = { config: { othersLabel: 'Others' } } // TODO: i18n
    
    AsBridge.VL.Legends.rampLegend(
      element,
      layer,
      legendData.property,
      config
    );
  } else {
    // TODO: we don't have a bridge for this case, should this even be a case?
  }
}