{% macro legend(legend_data, id) -%}
  {% set type = legend_data.type %}
  {% if type == 'color-category' %}
    <as-basic-legend id="{{id}}" slot="legends"></as-basic-legend>
  {% elif type == 'color-continuous' %}
    <as-color-gradient-legend id="{{id}}" slot="legends"></as-color-gradient-legend>
  {% elif type == 'color-bins' %}
    <as-color-steps-legend id="{{id}}" slot="legends"></as-color-steps-legend>
  {% else %}
    <div>
      <p class="as-body as-color--error">Unknown legend type {{ type }}</p>
    </div>
  {% endif %}
{%- endmacro %}

<div class="as-panel__element" id="legends">
  {% if default_legend %}
  <as-legends id="basicLegendContainer" heading="Map Legend">
    <as-basic-legend id="basicLegend" slot="legends">
    </as-basic-legend>
  </as-legends>
  {% endif %}

  {% for layer in layers %}
    {% if layer.legend %}
      <as-legends
        heading="{{layer.legend.heading}}"
        description="{{layer.legend.description}}"
        source="{{layer.legend.source}}"
      >
        {{ legend(layer.legend, 'layer%d_legend' % loop.index0) }}
      </as-legends>
    {% endif %}
  {% endfor %}
</div>