<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{title}}</title>
  <meta name="description" content="{{ description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <!-- Include CARTO VL JS -->
  <script src="{{carto_vl_path}}"></script>
  <!-- Include Mapbox GL JS -->
  <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.js"></script>
  <!-- Include Mapbox GL CSS -->
  <link href="https://api.tiles.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.css" rel="stylesheet" />

  <!-- Include Airship -->
  <script nomodule="" src="{{airship_components_path}}"></script>
  <script type="module" src="{{airship_module_path}}"></script>
  <script src="{{airship_bridge_path}}"></script>
  <link href="{{airship_styles_path}}" rel="stylesheet">
  <link href="{{airship_icons_path}}" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">

  <!-- External libraries -->

  <!-- pako -->
  <script src="https://libs.cartocdn.com/cartoframes/dependencies/pako_inflate.min.js"></script>
  
  <!-- html2canvas -->
  {% if is_static %}
    <script src="https://libs.cartocdn.com/cartoframes/dependencies/html2canvas.min.js"></script>
  {% endif %}

  {% if theme %}
    {% include 'style/themes/' + theme + '.html.j2' %}
  {% endif %}
  {% include 'style/common.html.j2' %}
  {% include 'style/map.html.j2' %}
  {% include 'style/error.html.j2' %}
  {% include 'style/popup.html.j2' %}
  {% include 'style/widgets.html.j2' %}
</head>

<body class="as-app-body as-app">
  <img id="map-image" class="map-image" alt='Static map image' />
  <as-responsive-content id="main-container">
    {% if has_widgets %}
      {% include 'templates/viz/widgets.html.j2' %}
    {% endif %}
    <main class="as-main">
      <div class="as-map-area">
        <div id="map" class="map"></div>
        {% if show_info %}
          {% include 'templates/viz/info.html.j2' %}
        {% endif %}
        {% if has_legends or layer_selector %}
          <div class="as-map-panels" data-name="Legends">
            <div class="as-panel as-panel--vertical as-panel--left as-panel--top">
              {% include 'templates/viz/legends.html.j2' %}
            </div> <!-- as-panel -->
          </div> <!-- as-map-panels -->
        {% endif %}
      </div> <!-- as-map-area -->
    </main> <!-- as-main -->
  </as-responsive-content>

  {% if is_embed %}
    {% include 'templates/viz/footer.html.j2' %}
  {% endif %}

  {% include 'templates/error/basic.html.j2' %}
</body>

<script>
  {% include 'src/bundle.js' %}
</script>
<script>
  {% include 'init.js.j2' %}
</script>
</html>
