<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <!-- Include CARTO VL JS -->
  <script src="{{carto_vl_path}}"></script>
  <!-- Include Mapbox GL JS -->
  <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.js"></script>
  <!-- Include Mapbox GL CSS -->
  <link href="https://api.tiles.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.css" rel="stylesheet" />

  <!-- Include Airship -->
  <script nomodule="" src="{{airship_components_path}}"></script>
  <script type="module" src="{{airship_module_path}}"></script>
  <script src="{{airship_bridge_path}}"></script>
  <link href="{{airship_styles_path}}" rel="stylesheet">
  <link href="{{airship_icons_path}}" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">

  {% if theme %}
    {% include 'style/themes/' + theme + '.html.j2' %}
  {% endif %}
  {% include 'style/common.html.j2' %}
  {% include 'style/map.html.j2' %}
  {% include 'style/error.html.j2' %}
  {% include 'style/popup.html.j2' %}
  {% include 'style/widgets.html.j2' %}
</head>

<body class="as-app-body as-app">
  <as-responsive-content>
    {% if has_widgets %}
      {% include 'viz/widgets.html.j2' %}
    {% endif %}
    <main class="as-main">
      <div class="as-map-area">
        <div id="map"></div>
        {% if show_info %}
          {% include 'viz/info.html.j2' %}
        {% endif %}
        {% if has_legends %}
          <div class="as-map-panels" data-name="Legends">
            <div class="as-panel as-panel--left as-panel--top">
              {% include 'viz/legends.html.j2' %}
            </div> <!-- as-panel -->
          </div> <!-- as-map-panels -->
        {% endif %}
      </div> <!-- as-map-area -->
    </main> <!-- as-main -->
  </as-responsive-content>

  {% if is_embed %}
    {% include 'viz/footer.html.j2' %}
  {% endif %}

  {% include 'error/basic.html.j2' %}

  <script>
    {% include 'viz/map.js.j2' %}
  </script>
</body>
</html>
