{% if has_legends %}
  {% include 'viz/legends.js.j2' %}
{% endif %}
{% include 'error/parser.js.j2' %}
{% include 'utils/base64.js.j2' %}
{% include 'utils/format.js.j2' %}

const responsive = document.querySelector('as-responsive-content');

function onReady() {
  const BASEMAPS = {
    DarkMatter: carto.basemaps.darkmatter,
    Voyager: carto.basemaps.voyager,
    Positron: carto.basemaps.positron
  };

  if ("{{mapboxtoken}}") {
    mapboxgl.accessToken = "{{mapboxtoken}}";
  }
  // Fetch CARTO basemap if it's there, else try to use other supplied style
  const map = new mapboxgl.Map({
    container: 'map',
    style: BASEMAPS['{{basemap}}'] || '{{basemap}}' || {
        'version': 8,
        'sources': {},
        'layers': [{
            'id': 'background',
            'type': 'background',
            'paint': {
                'background-color': '{{basecolor}}'
            }
        }]
    },
    zoom: 9,
    dragRotate: false
  });

  const mapInfo$ = document.getElementById('map-info');

  {% if show_info %}
    function updateMapInfo() {
      const center = map.getCenter();
      const lat = center.lat.toFixed(6);
      const lng = center.lng.toFixed(6);
      const zoom = map.getZoom().toFixed(2);

      mapInfo$.innerText = `viewport={'zoom': ${zoom}, 'lat': ${lat}, 'lng': ${lng}}`;
    }

    map.on('zoom', updateMapInfo);
    map.on('move', updateMapInfo);
  {% endif %}

  const layers = {{layers|tojson}};

  map.fitBounds({{bounds}}, {animate: false, padding: 50, maxZoom: 14});

  {% if camera != none %}
    map.flyTo({{ camera|clear_none|tojson }});
  {% endif %}

  const mapLayers = [];

  layers.forEach((layer, index) => {
    const factory = new SourceFactory();
    const mapSource = factory.createSource(layer);
    const mapViz = new carto.Viz(layer['viz']);
    const mapLayer = new carto.Layer(`layer${index}`, mapSource, mapViz);

    mapLayers.push(mapLayer);

    try {
      mapLayer._updateLayer.catch(displayError);
    } catch (err) {
      throw err;
    }

    mapLayer.addTo(map);

    if (layer.interactivity) {
      const interactivity = new carto.Interactivity(mapLayer);
      const tempPopup = new mapboxgl.Popup({
        closeButton: false,
        closeOnClick: false
      });

      interactivity.off('featureHover');
      interactivity.off('featureClick');

      for (const { event, attrs } of layer.interactivity) {
        if (event === 'click') {
          setPopupsClick(tempPopup, interactivity, attrs);
        }
        if (event === 'hover') {
          setPopupsHover(tempPopup, interactivity, attrs);
        }
      }
    }

    if (layer.legend) {
      createLegend(mapLayer, layer.legend, index);
    }

    function setPopupsClick(tempPopup, interactivity, attrs) {
      interactivity.on('featureClick', (event) => {
          updatePopup(tempPopup, event, attrs)
      });
    }
    
    function setPopupsHover(tempPopup, interactivity, attrs) {
      interactivity.on('featureHover', (event) => {
          updatePopup(tempPopup, event, attrs)
      });
    }

    function updatePopup(popup, event, attrs) {
      if (event.features.length > 0) {
        const feature = event.features[0];

        let popupHTML = '';
        
        attrs.forEach((item) => {
          let value = feature.variables[item.name].value;
          value = formatValue(value)
          
          popupHTML += `
            <span class="popup-name">${item.title}</span>
            <span class="popup-value">${value}</span>
          `;
        });
        
        popup
            .setLngLat([event.coordinates.lng, event.coordinates.lat])
            .setHTML(`<div class="popup-content">${popupHTML}</div>`);
        
        if (!popup.isOpen()) {
          popup.addTo(map);
        }
      } else {
        popup.remove();
      }
    }

    function SourceFactory() {
      const sourceTypes = {
        GeoJSON: (layer) => new carto.source.GeoJSON(_decodeJSONQuery(layer.query)),
        Query: (layer) => {
          const auth = {
            username: layer.credentials['username'],
            apiKey: layer.credentials['api_key'] || 'default_public'
          };
          const config = {
            serverURL: layer.credentials['base_url'] || `https://${layer.credentials['username']}.carto.com/`
          };
          return new carto.source.SQL(layer.query, auth, config)
        },
        MVT: (layer) => new carto.source.MVT(layer.query.file, JSON.parse(layer.query.metadata)),
      }

      this.createSource = (layer) => {
        return sourceTypes[layer.type](layer);
      }
    }
  });

  {% if default_legend %}
    createDefaultLegend(mapLayers);
  {% endif %}
}

function setReady () {
  try {
    onReady()
  } catch (e) {
    displayError(e);
  }
}

function displayError(e) {
  const error$ = document.getElementById('error-container');
  const errors$ = error$.getElementsByClassName('errors');
  const stacktrace$ = document.getElementById('error-stacktrace');

  errors$[0].innerHTML = e.name;
  errors$[1].innerHTML = e.name;
  errors$[2].innerHTML = e.type;
  errors$[3].innerHTML = e.message.replace(e.type, '');

  error$.style.visibility = 'visible';

  const stack = parse(e.stack);
  const list = stack.map(item => {
    return `<li>
      at <span class="stacktrace-method">${item.methodName}:</span>
      (${item.file}:${item.lineNumber}:${item.column})
    </li>`;
  });

  stacktrace$.innerHTML = list.join('\n');
}

function _decodeJSONQuery(query) {
  return JSON.parse(Base64.decode(query.replace(/b\'/, '\'')))
}

responsive.addEventListener('ready', setReady);