{% include 'utils/format.js.j2' %}

function renderWidget(layer, source, map, widget, variable, layerIndex, widgetIndex=0) {
  widget.element = document.querySelector(`#${widget.id}`);

  if (widget.type === 'formula') {
    element.innerText = format(variable.value);
  } else if (widget.type === 'animation') {
    const variableName = widget.name;

    const bridge = new AsBridge.VL.Bridge({
      carto: carto,
      layer: layer,
      source: source,
      map: map
    });

    bridge.animationControls(widget.element, widget.column, widget.prop, widget.name);
    bridge.build();

  } else {
    element.innerText = variable ? variable.value : widget.value;
  }
}