{% macro createWidget(widget, id) -%}
  <section id="{{id}}" class="as-body">
      {% if widget.title %}
        <h1 class="as-title">{{widget.title}}</h1>
      {% endif %}
      {% if widget.description %}
        <p>{{widget.description}}</h1>
      {% endif %}
      {% if widget.footer %}
        <footer>{{widget.footer}}</footer>
      {% endif %}
  </section>
{%- endmacro %}

<div class="as-panel__element as-px--16 as-pt--8 as-pb--8" id="widgets">
  {% for layer in layers|reverse %}
    {% if layer.widget %}
      {{ createWidget(layer.widget, 'layer%d_widget' % loop.index0) }}
    {% endif %}
  {% endfor %}
</div>