{% macro createWidget(widget, id) -%}
  <section id="{{id}}" class="as-body">
      {% if widget.title %}
        <h1 class="as-m--0 as-font--medium">{{widget.title}}</h1>
      {% endif %}
      {% if widget.description %}
        <p class="as-m--0">{{widget.description}}</p>
      {% endif %}

      {% if widget.name %}
        <p class="as-title as-m--0 as-p--0 as-font--medium" id="{{id}}-{{widget.name}}">
          <span class="as-loading as-loading--s">
            <svg viewBox="0 0 50 50">
              <circle cx="25" cy="25" r="20" fill="none" />
            </svg>
          </span>
        </p>
      {% endif %}

      {% if widget.footer %}
        <footer>{{widget.footer}}</footer>
      {% endif %}
  </section>
{%- endmacro %}

<div class="as-panel__element as-px--16 as-pt--8 as-pb--8" id="widgets">
  {% for layer in layers|reverse %}
    {% if layer.widget %}
      {{ createWidget(layer.widget, 'layer%d_widget' % loop.index0) }}
    {% endif %}
  {% endfor %}
</div>