<div class="as-panel__element" id="legends">
  {% if basic_legend != none %}
  <as-legends heading="Map Legend">
    <as-basic-legend id="basicLegend">
    </as-basic-legend>
  </as-legends>
  {% endif %}
</div>