function createLegend(layer, legendData, layerIndex, style) {
  const element = document.querySelector(`#layer${layerIndex}_legend`);

  if (element) {
    if (style.getType() === 'buckets') {
      const buckets = style.getBuckets();
      element.data = buckets.map((bucket) => ({
        color: bucket.value,
        label: `${format(bucket.min)} - ${format(bucket.max)}`
      })); 
    }
  }
}