function createDefaultLegend(layers) {
  const defaultLegendContainer = document.querySelector('#defaultLegendContainer');
  defaultLegendContainer.style.display = 'none';

  AsBridge.VL.Legends.layersLegend(
    '#defaultLegend',
    layers,
    {
      onLoad: () => defaultLegendContainer.style.display = 'unset'
    }
  )
}

function createLegend(layer, legendData, layerIndex) {
  const element = document.querySelector(`#layer${layerIndex}_legend`);

  if (legendData.prop) {
    const config = { othersLabel: 'Others' }  // TODO: i18n
    const opts = { format, config };

    if (legendData.type.startsWith('size-continuous')) {
      config.samples = 4;
    }
    
    AsBridge.VL.Legends.rampLegend(
      element,
      layer,
      legendData.prop,
      opts
    );
  } else {
    // TODO: we don't have a bridge for this case, should this even be a case?
  }
}