
function format(value) {
  if (Array.isArray(value)) {
    const [first, second] = value;
    if (first === -Infinity) {
      return `< ${formatValue(second)}`;
    }
    if (second === Infinity) {
      return `> ${formatValue(first)}`;
    }
    return `${formatValue(first)} - ${formatValue(second)}`
  }
  return formatValue(value);
}

function formatValue(value) {
  if (typeof value === 'number') {
    return formatNumber(value);
  }
  return value;
}

function formatNumber(value) {
  const log = Math.log10(Math.abs(value))
  if ((log > 4 || log < -2.00000001) && value) {
    return value.toExponential(2);
  } else if (!Number.isInteger(value)) {
    return value.toLocaleString(undefined, {
      minimumFractionDigits: 2,
      maximumFractionDigits: 3
    });
  } else {
    return value.toLocaleString();
  }
}
