<div id="error-container" class="error">
  <section class="error-section">
    <span class="errors" id="error-name"></span>:
    <section id="error-content">
      <span class="errors" id="error-type"></span>
      <span class="errors" id="error-message"></span>
    </section>
  </section>

  <details class="error-details">
    <summary>StackTrace</summary>
    <ul id="error-stacktrace"></ul>
  </details>
</div>
