<div id="error-container" class="error">
  <p>There is a <span id="error-highlight">{% if type is defined %}{{ type }}{% endif %}</span>
  from <a href="https://carto.com/developers/carto-vl/" target="_blank">CARTO VL</a> library:</p>
  <section class="error-section">
    <span id="error-name">{% if name is defined %}{{ name }}{% endif %}</span>
    <span id="error-type">{% if type is defined %}{{ type }}{% endif %}</span>
    <span id="error-message">{% if message is defined %}{{ message }}{% endif %}</span>
  </section>
</div>