<div class="as-container as-pt--4 as-pb--4">
  <button class="as-btn as-btn--primary">
    <p>Play</p>
  </button>
  <button class="as-btn as-btn--primary">
    <p>Pause</p>
  </button>
</div>

<as-range-slider></as-range-slider>
