<div>
  <as-animation-controls-widget
    animated
    id="{{id}}"
    heading="{{widget.title}}"
    description="{{widget.description}}"
  ></as-animation-controls-widget>
  {% if widget.footer %}
    <footer>{{widget.footer | safe }}</footer>
  {% endif %}
</div>
