<div>
  <as-widget-header
    header="{{widget.title}}"
    subheader="{{widget.description}}">
  </as-widget-header>
  {% if widget.footer %}
    <footer>{{widget.footer | safe }}</footer>
  {% endif %}
</div>