<div>
  <as-histogram-widget
    id="{{id}}"
    description="{{widget.description}}"
    heading="{{widget.title}}">
  </as-histogram-widget>
  {% if widget.footer %}
    <footer>{{widget.footer | safe }}</footer>
  {% endif %}
</div>